{% extends "base.html" %} 

{% block title %}
{{ pet["name"] }}'s Details - Paws Rescue Center
{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 50%;">
  <img
    src= "{{ url_for('static', filename = pet['id']|string + ".jpg") }}"
    height="300"
    alt="{{ pet['name'] }} cat"
  />
  <div class="card-body">
    <h5 class="card-title">{{ pet['name'] }}</h5>
    <p class="card-text">{{ pet['age'] }}</p>
    <p class="card-text">{{ pet['bio'] }}</p>
  </div>
</div>
{% endblock %}
